:root {
    /* Purples */
    --purply-magenta: #48274f;
    --darker-pruply: #38223c;
    --lighter-purply: #57365e;

    /* Yellows */
    --yellowish-gren: #b7d8b0;
    --darker-yellowish: #8bb782;
    --lighter-yellowish: #f3f8f2;

    /* Reds */
    --delete-red: #FF758F;
}

body {

    /* Main font "Winky Rough" */
    font-family: "Winky Rough", sans-serif;
    /* Colors */
    color: var(--yellowish-gren);
    background-color: var(--purply-magenta);
    margin: 0;
    height: 100vh;
}

.username {
    text-align: end;
    margin: 0 50px 0 0;
}

.container {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 16pt;

    & .title {
        margin: 20px 20px 40px 20px;
    }

    & .category-area {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .btn {
        margin: 30px;
        font-size: 14pt;
        font-weight: bold;
        background-color: var(--yellowish-gren);
        border: 5px solid var(--darker-yellowish);

        & a {
            color: var(--purply-magenta);
            text-decoration: none;
        }
    }

    & .btn:active {
        color: var(--lighter-purply);
        background-color: var(--lighter-yellowish);
        border: 5px solid var(--yellowish-gren);
        box-shadow: 0px 0px 10px 1px var(--lighter-yellowish);
    }

    & .category-container {
        border: 2px solid var(--yellowish-gren);
        box-shadow: 25px 25px 15px var(--darker-pruply);
        padding: 30px;
        margin: 30px;
    }

    & .category-txt {
        width: 500px;
        font-size: 15pt;
    }

    & .category-title {
        font-family: "Fredericka the Great", serif;

    }

    & .newField {
        width: 300px;
        font-size: 12pt;
    }

    & .miniBtn {
        margin: 0 15px 0 15px;
        font-size: 10pt;
        font-weight: bold;
        background-color: var(--yellowish-gren);
        border: 5px solid var(--darker-yellowish);
    }

    & .mini-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .delete-conatiner{
        margin: 0 15px 0 15px;
        padding: 6px;
        font-size: 10pt;
        background-color: var(--delete-red);
        border: none;
        border-radius: 5px;
        box-shadow: 15px 15px 15px var(--darker-pruply);
    }

    & .delete-btn{
        margin: 15px;
        padding: 8px;
        font-size: 10pt;
        background-color: var(--delete-red);
        border: none;
        border-radius: 5px;
        box-shadow: 15px 15px 15px var(--darker-pruply);
    }
}

.empty-box {
    height: 30px;
}

#threejs-background {
    position: static;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100px;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 0 10px 10px 1px var(--darker-yellowish);
    padding: 0;
    margin: 0;
}

.footer {
    background-color: var(--yellowish-gren);
    height: 100px;
    color: var(--lighter-purply);
    margin: 50px 0 0 0;
    padding-bottom: 0;
    position: relative;
    bottom: 0;
    box-shadow: 0 -10px 10px 1px var(--darker-yellowish);

    display: flex;
    justify-content: center;
    align-items: center;


    & .footer-txt {
        font-weight: bold;
        font-size: 10pt;
    }
}