{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule my day - Login</title>
    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
    <!-- --------- Fonts imports --------- -->
     <!-- Winky Rough -->
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <!-- Fredericka the Great -->
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Title -->
        <h1 class="title">Login</h1>
        <div class="username input-field">
            <p class="input-txt">Username:</p>
            <input type="text" name="username" placeholder="Username" />
        </div>
        <div class="password input-field">
            <p class="input-txt">Password:</p>
            <input type="password" name="password" placeholder="Pasword">
        </div>
        <button class="btn">Login</button>
    </div>

</body>
</html>