{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule my day - Sign Up</title>
    <link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}">
    <!-- --------- Fonts imports --------- -->
     <!-- Winky Rough -->
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <!-- Fredericka the Great -->
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Background image -->
    <div id="threejs-background"></div>
    <!-- Container -->
    <div class="container">
        <!-- Title -->
        <h1 class="title">Sign Up</h1>
        <!-- Username field -->
        <div class="input-field">
            <p class="input-txt">Chose a username</p>
            <input type="text" name="username" placeholder="Username" />
        </div>
        <!-- First name field -->
        <div class="input-field">
            <p class="input-txt">What is your first name?</p>
            <input type="text" name="first-name" placeholder="First name" />
        </div>
        <!-- Last name field -->
        <div class="input-field">
            <p class="input-txt">What is your last name?</p>
            <input type="text" name="last-name" placeholder="Last name" />
        </div>
        <!-- E-mail address field -->
        <div class="input-field">
            <p class="input-txt">What is your e-mail address?</p>
            <input type="text" name="email-address" placeholder="e-mail" />
        </div>
        <!-- Password field -->
        <div class="input-field">
            <p class="input-txt">Chose a password</p>
            <input type="password" name="password" placeholder="Pasword">
        </div>
        <!-- Confirm password field -->
        <div class="input-field">
            <p class="input-txt">Confirm password</p>
            <input type="password" name="confimr-password" placeholder="Confirm pasword">
        </div>
        <button class="btn">Login</button>
    </div>

    <script type="module" src="{% static 'myapp/js/script.js' %}"></script>
</body>
</html>